{% extends 'layouts.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
                <div class="card-body">
                    <h4 class="card-title ">Detail Data Wilayah <span class="text-primary">{{wilayah.kode_wilayah}}</span>
                        <a href="{% url 'wilayah_update' wilayah.id %}">
                            <button class="btn btn-warning btn-sm"><i class="far fa-edit"></i></button>
                        </a>
                        <a href="{% url 'wilayah_index' %}" class="btn btn-light btn-sm">
                            <i class="fas fa-backward"></i>
                        </a>
                    </h4>
                    <div class="basic-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="">Kode Wilayah</label>
                            <input type="text" class="form-control" value="{{wilayah.kode_wilayah}}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Nama Wilayah</label>
                            <input type="text" class="form-control" value="{{wilayah.nama_wilayah}}" readonly>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}