{% extends 'layouts.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="card-body">
                    <h4 class="card-title ">Detail Data Wilayah <span class="text-primary">{{wilayah.kode_wilayah}}</span>
                        <a href="{% url 'wilayah_detail' wilayah.id %}" class="btn btn-warning btn-sm">
                            <i class="fas fa-backward"></i>
                        </a>
                    </h4>
                    <div class="basic-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="">Kode Wilayah</label>
                            <input type="text" name="kode_wilayah" class="form-control" value="{{wilayah.kode_wilayah}}">
                        </div>
                        <div class="form-group">
                            <label for="">Nama Wilayah</label>
                            <input type="text" name="nama_wilayah" class="form-control" value="{{wilayah.nama_wilayah}}">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success">Simpan</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}