{% extends 'layouts.html' %}


{% block content %}
<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Master User</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Sales</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header float-left">
                Data Sales
            </div>
            <div class="float-right">
                <a href="{% url 'wilayah_insert' %}">
                    <button class="btn btn-success btn-sm"><i class="fas fa-user-plus"></i></button>
                </a>
            </div>
            <div class="card-body">
                <div class="active-member">
                    <div class="table-responsive">
                            <table class="table table-xs mb-0">
                                <thead>
                                    <tr>
                                        <th>Kode Wilayah</th>
                                        <th>Wilayah</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for w in wilayah %}
                                    <tr>
                                        <td>{{ w.kode_wilayah }}</td>
                                        <td>{{ w.nama_wilayah }}</td>
                                        <td>
                                            <a href="{% url 'wilayah_detail' w.id %}">
                                                <button class="btn btn-warning btn-sm"><i class="fas fa-eye"></i></button>
                                            </a>
                                            <button class="btn btn-danger btn-sm btn-del" data-id="{{w.id}}" data-nama="{{w.nama_wilayah}}"><i class="far fa-trash-alt"></i></button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
<script type="text/javascript">
    $('.btn-del').click(function(){
        var wilayah_id = $(this).attr('data-id');
        var wilayah_nama = $(this).attr('data-nama');
        swal({
            title: "Are you sure?",
            text: "Delete Data "+wilayah_nama+"?, you will not be able to recover this data file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                window.location = "wilayah/delete/"+wilayah_id;
            } else {
                swal("Your data pegawai is safe!");
            }
        });
    });
</script>
{% endblock %}