{% extends 'layouts.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="card-body">
                <h4 class="card-title ">Tambah Data Sales <span class="text-primary"></span>
                    <a href="{% url 'wilayah_index' %}" class="btn btn-warning btn-sm">
                        <i class="fas fa-backward"></i>
                    </a>
                </h4>
                <div class="basic-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">Kode Wilayah</label>
                        <input type="text" name="kode_wilayah" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Nama Wilayah</label>
                        <input type="text" name="nama_wilayah" class="form-control">
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success">Simpan</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}