{% extends 'layouts.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
                <div class="card-body">
                    <h4 class="card-title ">Detail Data Sales <span class="text-primary">{{sales.nama}}</span>
                        <a href="{% url 'sales_update' sales.id %}">
                            <button class="btn btn-warning btn-sm"><i class="far fa-edit"></i></button>
                        </a>
                        <a href="{% url 'sales_index' %}" class="btn btn-light btn-sm">
                            <i class="fas fa-backward"></i>
                        </a>
                    </h4>
                    <div class="basic-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="">Nama</label>
                            <input type="text" class="form-control" value="{{sales.nama}}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Tanggal Lahir</label>
                            <input type="date" class="form-control" value="{{sales.tgl_lahir}}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Kota Lahir</label>
                            <input type="text" class="form-control" value="{{sales.kota_lahir}}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Jenis Kelamin</label>
                            <select name="" id="" class="form-control" readonly>
                                <option value="" disabled selected>Pilih Jenis Kelamin</option>
                                <option value="Laki-Laki" {% if sales.jenis_kelamin == 'Laki-Laki' %} selected {% endif %}>Laki-Laki</option>
                                <option value="Perempuan" {% if sales.jenis_kelamin == 'Perempuan   ' %} selected {% endif %}>Perempuan</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Alamat</label>
                            <textarea name=""  cols="30" rows="10" class="form-control" readonly>{{sales.alamat}}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="">Nomor Telepon</label>
                            <input type="text" class="form-control" value="{{sales.no_telp}}" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Nomor Rekening</label>
                            <input type="text" class="form-control" value="{{sales.no_rek}}" readonly>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}