{% extends 'layouts.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="card-body">
                    <h4 class="card-title ">Detail Data Sales <span class="text-primary">{{sales.nama}}</span>
                        <a href="{% url 'sales_detail' sales.id %}" class="btn btn-warning btn-sm">
                            <i class="fas fa-backward"></i>
                        </a>
                    </h4>
                    <div class="basic-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="">Nama</label>
                            <input type="text" name="nama" class="form-control" value="{{sales.nama}}">
                        </div>
                        <div class="form-group">
                            <label for="">Tanggal Lahir</label>
                            <input type="date" name="tgl_lahir" class="form-control" value="{{sales.tgl_lahir}}">
                        </div>
                        <div class="form-group">
                            <label for="">Kota Lahir</label>
                            <input type="text" name="kota_lahir" class="form-control" value="{{sales.kota_lahir}}">
                        </div>
                        <div class="form-group">
                            <label for="">Jenis Kelamin</label>
                            <select name="jenis_kelamin" id="" class="form-control">
                                <option value="" disabled selected>Pilih Jenis Kelamin</option>
                                <option value="Laki-Laki" {% if sales.jenis_kelamin == 'Laki-Laki' %} selected {% endif %}>Laki-Laki</option>
                                <option value="Perempuan" {% if sales.jenis_kelamin == 'Perempuan   ' %} selected {% endif %}>Laki-Laki</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Alamat</label>
                            <textarea name="alamat"  cols="30" rows="10" class="form-control">{{sales.alamat}}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="">Nomor Telepon</label>
                            <input type="text" name="no_telp" class="form-control" value="{{sales.no_telp}}">
                        </div>
                        <div class="form-group">
                            <label for="">Nomor Rekening</label>
                            <input type="text" name="no_rek" class="form-control" value="{{sales.no_rek}}">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success">Simpan</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}