{% extends 'layouts.html' %}


{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Detail Sales
            </div>
            <div class="card-body">
                <div class="active-member">
                    <div class="table-responsive">
                        <table class="table table-xs mb-0">
                            <thead>
                                <tr>
                                    <th>Nama Sales</th>
                                    <th>Alamat</th>
                                    <th>No Telp</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for s in sales %}
                                    <tr>
                                        <td>{{ s.nama }}</td>
                                        <td>{{ s.alamat }}</td>
                                        <td>{{ s.no_telp }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Detail Wilayah
            </div>
            <div class="card-body">
                <div class="active-member">
                    <div class="table-responsive">
                        <table class="table table-xs mb-0">
                            <thead>
                                <tr>
                                    <th>Kode Wilayah</th>
                                    <th>Nama Wilayah</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for w in wilayah %}
                                    <tr>
                                        <td>{{ w.kode_wilayah }}</td>
                                        <td>{{ w.nama_wilayah }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}s