{% extends 'layouts.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
            <div class="card-body">
                <h4 class="card-title ">Detail Data Harga <span class="text-primary">{{ hargas.nama_brg }}</span>
                    <a href="{% url 'harga_update' hargas.id %}">
                        <button class="btn btn-warning btn-sm"><i class="far fa-edit"></i></button>
                    </a>
                    <a href="{% url 'harga_index' %}" class="btn btn-warning btn-sm">
                        <i class="fas fa-backward"></i>
                    </a>
                </h4>
                <div class="basic-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Nama Barang</label>
                                <input type="text" name="nama_brg" value="{{hargas.nama_brg}}" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Kode Barang</label>
                                <input type="text" name="kode_brg" value="{{hargas.kode_brg}}" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Jenis Barang</label>
                                <select name="jenis_brg" id="" class="form-control" disabled>
                                    <option value="" disabled selected>Pilih Jenis Barang</option>
                                    <option value="Barang Jadi" {% if hargas.jenis_brg == 'Barang Jadi' %} selected {% endif %}>Barang Jadi</option>
                                    <option value="Bahan Baku" {% if hargas.jenis_brg == 'Bahan Baku' %} selected {% endif %}>Bahan Baku</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">QTY 1</label>
                                <input type="number" name="qty1" class="form-control" value="{{hargas.qty1}}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Satuan QTY 1</label>
                                <input type="text" name="satuan1" class="form-control" value="{{hargas.satuan1}}" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">QTY 2</label>
                                <input type="text" name="qty2" class="form-control" value="{{hargas.qty2}}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Satuan QTY 2</label>
                                <input type="text" name="satuan2" class="form-control" value="{{hargas.satuan2}}" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Harga QTY 1</label>
                                <input type="text" name="harga1" class="form-control" value="{{hargas.harga1}}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Harga QTY 2</label>
                                <input type="text" name="harga2" class="form-control" value="{{hargas.harga2}}" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success">Simpan</button>
            </div>
    </div>
</div>
{% endblock %}