{% extends 'layouts.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="card-body">
                <h4 class="card-title ">Tambah Data Sales <span class="text-primary"></span>
                    <a href="{% url 'harga_index' %}" class="btn btn-warning btn-sm">
                        <i class="fas fa-backward"></i>
                    </a>
                </h4>
                <div class="basic-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Nama Barang</label>
                                <input type="text" name="nama_brg" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Kode Barang</label>
                                <input type="text" name="kode_brg" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Jenis Barang</label>
                                <select name="jenis_brg" id="" class="form-control">
                                    <option value="" disabled selected>Pilih Jenis Barang</option>
                                    <option value="Barang Jadi">Barang Jadi</option>
                                    <option value="Bahan Baku">Bahan Baku</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">QTY 1</label>
                                <input type="number" name="qty1" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Satuan QTY 1</label>
                                <input type="text" name="satuan1" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">QTY 2</label>
                                <input type="text" name="qty2" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Satuan QTY 2</label>
                                <input type="text" name="satuan2" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Harga QTY 1</label>
                                <input type="text" name="harga1" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Harga QTY 2</label>
                                <input type="text" name="harga2" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success">Simpan</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}